<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<!-- Enable Hibernate's automatic session context management --> 
   		<!--<property name="current_session_context_class">thread</property> 
   		--><!-- Echo all executed SQL to stdout --> 
   		<property name="show_sql">true</property>
<!--   		<property name="hbm2.select">select</property>-->
<!--   		<property name="format_sql">true</property>-->
<!--   		<property name="use_sql_comments">true</property>-->
   		
    		<property name="dialect">org.hibernate.dialect.OracleDialect</property> 

   		<!-- Conenction Pooling Configuration -->
   		
   		<property name="hibernate.c3p0.min_size">5</property>
  		<property name="hibernate.c3p0.max_size">100</property>
  		<property name="hibernate.c3p0.timeout">3000</property>
  		<property name="hibernate.c3p0.max_statements">50</property>
  		<property name="hibernate.c3p0.idle_test_period">3000</property>
   		   		
   		<!-- Mapping Configuration --> 
   		<mapping class="main.java.com.byteslounge.spring.tx.model" />
        
    </session-factory>
         
</hibernate-configuration>